.Basket-block { 
    display: flex;
    
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: auto;
       
}
.posts-block {
    min-height: 500px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.post-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 0px;
    width: 350px;
    height: 50px;  
    border: solid black 5px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 150px;
}

.post-content {
    display: flex;
    flex-direction: row;
}

.basket-button {
 align-self: center;
 height: 25px;
 
}

.delete-button {
    margin-left: 15px;
    color: #3EA48A;
    border: 0ch;
    background-color: white;
    font-weight: bolder;
}

.product-value {
    margin-left: 15px;
}

.basket-title {
    text-align: center;
    align-self: center;
}

.basket-title-p {
    margin-top: 20px;
}