.Basket-block { 
    display: flex;
    
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: auto;
       
}

.post-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 0px;
    width: 350px;
    height: 50px;  
    border: solid black 5px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 150px;
}

.post-content {
    display: flex;
    flex-direction: row;
}

.basket-button {
 align-self: center;
 height: 25px;
 
}

.delete-button {
    margin-left: 15px;
}

.product-value {
    margin-left: 15px;
}