.plus-button {
    align-self: center;
    width: 25px;
    color: white;
    background-color:#C0E5D1;
    box-sizing: border-box;
    text-align: center;
    
    border-radius: 10px;
    
    
    border: none;
}

.counter-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 0px;
   align-content: center; 
   width: 70px;
   height: 25px;
}

.add-button {
    /* margin-left: 20px; */
    color: #F0FFF2;
    display: inline-block;
    width: 55px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 500;
    border-radius: 5px;
    color: #3EA48A;;
    background-color:#C0E5D1;
    
    border: none;
}



.counter {
   align-self: center;
   height: 15px;

}