.plus-button {
    align-self: center;
    width: 25px;
    color: #035A2D;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    background: radial-gradient(169.48% 119.25% at 44.61% 109.92%, #9AE1CC 11.35%, #86D4C7 37.8%, #6FC5C2 69.14%, #58B6BD 100%);
    border-radius: 32px;
    font: bold 20px/30px Arial;
    box-shadow: inset 0 2px 2px #86D4C7, inset 1px 0 3px #9AE1CC, inset -1px 0 3px #6FC5C2, inset 0 -2px 2px #58B6BD, 0 0 3px rgba(0, 0, 0, 0.24); position: relative; text-shadow: 0 1px #58B6BD; outline: none;

}
.add-buttons-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-bottom: 19px;
}
.counter-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between; 
   width: 70px;
   height: 25px;
}

.add-button {
    margin-left: 20px;
    color: #035A2D;
    display: inline-block;
    width: 120px;
    height: 32px;
    box-sizing: border-box;
    text-align: center;
    background: radial-gradient(169.48% 119.25% at 44.61% 109.92%, #9AE1CC 11.35%, #86D4C7 37.8%, #6FC5C2 69.14%, #58B6BD 100%);
    border-radius: 32px;
    font: bold 20px/30px Arial;
    box-shadow: inset 0 2px 2px #86D4C7, inset 1px 0 3px #9AE1CC, inset -1px 0 3px #6FC5C2, inset 0 -2px 2px #58B6BD, 0 0 3px rgba(0, 0, 0, 0.24); position: relative; text-shadow: 0 1px #58B6BD; outline: none;
}

.counter {
   flex-shrink: 1;

}