.header {
    display: flex;
    justify-content: space-between;
    border:solid #499380 0px;
    background: radial-gradient(169.48% 119.25% at 44.61% 109.92%, #9AE1CC 11.35%, #86D4C7 37.8%, #6FC5C2 69.14%, #58B6BD 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.header {
    display: flex;
    justify-content: space-between;
    border:solid #499380 0px;
    background:#C0E5D1;
}

.rich-logo {
    display: flex;
    align-self: center;
    height: 100px;
    
}

.ul-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* display: flex;
    border: solid black 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 800px;  
    padding: 0px;  */
}

.mainn-mainn {
    padding: 5px;
}
.bascet--mainn {
    padding: 5px;
}


.personal-account {
    padding: 5px;
}




.link-header {
    display: block;
    width: 70px;
    height: 30px;
    
    border-radius: 100px;
    background-color: none;
    text-decoration: none;
    color: #DAFFDE;
    text-align: center;
    
    
}
.soft {
    color: #3EA48A;

}
.soft:hover{
    color: #DAFFDE;
}

.link-header:hover {
    width: 70px;
    height: 30px;
    border-radius: 10px;
    background-color: #DAFFDE;
    text-decoration: none;
    color:#3EA48A;
    text-align: center;
    
}




