.drink-block { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: auto;
    height: 692px;
    background-color: #ffffff;
}

.link-drink {
    color: #164D36;
    margin-right: auto;
    margin-left: 15px;
    margin-top: 10px;

}

.title-drinks {
    color: #3EA48A;
}

.container {
    border-radius: 36px;
}

.ul-drink {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 0px;
}

.li-drink {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    margin-left: 30px;
    padding: 0px;
    border: solid black 5px;
    border-radius: 15px;
    margin-top: 15px;
    width: 137px;
}

.a-drink {
    color: #F0FFF2;
    margin-top: 80px;
    font-weight: 700;
    font-size: 20px;
    display: inline-block;
    width: 120px;
    height: 32px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    background: radial-gradient(169.48% 119.25% at 44.61% 109.92%, #9AE1CC 11.35%, #86D4C7 37.8%, #6FC5C2 69.14%, #58B6BD 100%);
    border-radius: 32px;
    font: bold 20px/30px Arial;
    box-shadow: inset 0 2px 2px #86D4C7, inset 1px 0 3px #9AE1CC, inset -1px 0 3px #6FC5C2, inset 0 -2px 2px #58B6BD, 0 0 3px rgba(0, 0, 0, 0.24); position: relative; text-shadow: 0 1px #58B6BD; outline: none;
}

.a-drink:hover {
    background: radial-gradient(169.48% 119.25% at 44.61% 109.92%, #9AE1CC 11.35%, #86D4C7 37.8%, #6FC5C2 69.14%, #58B6BD 100%);
    box-shadow: inset 0 2px 2px #86D4C7, inset 1px 0 3px #9AE1CC, inset -1px 0 3px #6FC5C2, inset 0 -2px 2px #58B6BD, 0 0 3px rgba(0, 0, 0, 0.24); position: relative; text-shadow: 0 1px #58B6BD; outline: none;
}

.a-drink:active {
    background: radial-gradient(169.48% 119.25% at 44.61% 109.92%, #9AE1CC 11.35%, #86D4C7 37.8%, #6FC5C2 69.14%, #58B6BD 100%);
    box-shadow: inset 0 2px 2px #86D4C7, inset 1px 0 3px #9AE1CC, inset -1px 0 3px #6FC5C2, inset 0 -2px 2px #58B6BD, 0 0 3px rgba(0, 0, 0, 0.24); position: relative; text-shadow: 0 1px #58B6BD; outline: none;
    padding: 1px 0 0 1px;
}

.a-drinkkss {
    color: #F0FFF2;
    margin-top: 80px;
    font-weight: 700;
    font-size: 20px;
    display: inline-block;
    width: 150px;
    height: 45px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    background: radial-gradient(169.48% 119.25% at 44.61% 109.92%, #9AE1CC 11.35%, #86D4C7 37.8%, #6FC5C2 69.14%, #58B6BD 100%);
    border-radius: 28px;
    font: bold 17px/20px Arial;
    padding-top: 4px;
    box-shadow: inset 0 2px 2px #86D4C7, inset 1px 0 3px #9AE1CC, inset -1px 0 3px #6FC5C2, inset 0 -2px 2px #58B6BD, 0 0 3px rgba(0, 0, 0, 0.24); position: relative; text-shadow: 0 1px #58B6BD; outline: none;
}

.a-drinkkss:hover {
    background: radial-gradient(169.48% 119.25% at 44.61% 109.92%, #9AE1CC 11.35%, #86D4C7 37.8%, #6FC5C2 69.14%, #58B6BD 100%);
    box-shadow: inset 0 2px 2px #86D4C7, inset 1px 0 3px #9AE1CC, inset -1px 0 3px #6FC5C2, inset 0 -2px 2px #58B6BD, 0 0 3px rgba(0, 0, 0, 0.24); position: relative; text-shadow: 0 1px #58B6BD; outline: none;
}

.a-drinkkss:active {
    background: radial-gradient(169.48% 119.25% at 44.61% 109.92%, #9AE1CC 11.35%, #86D4C7 37.8%, #6FC5C2 69.14%, #58B6BD 100%);
    box-shadow: inset 0 2px 2px #86D4C7, inset 1px 0 3px #9AE1CC, inset -1px 0 3px #6FC5C2, inset 0 -2px 2px #58B6BD, 0 0 3px rgba(0, 0, 0, 0.24); position: relative; text-shadow: 0 1px #58B6BD; outline: none;
    padding: 1px 0 0 1px;
}

.picture11 {
    background: url(/../Catering-system/src/Main/gazdrinks.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 182px;
    height: 97px;
    border-radius: 13px;
    border:solid #000000 0px;
    background-blend-mode: darken;
}

.picture12 {
    background: url(/../Catering-system/src/Main/juice.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 182px;
    height: 97px;
    border-radius: 13px;
    border:solid #000000 0px;
    background-blend-mode: darken;
}

.picture13 {
    background: url(/../Catering-system/src/Main/coffee.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 182px;
    height: 97px;
    border-radius: 13px;
    border:solid #000000 0px;
    background-blend-mode: darken;
}

.picture14 {
    background: url(/../Catering-system/src/Main/tea.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 182px;
    height: 97px;
    border-radius: 13px;
    border:solid #000000 0px;
    background-blend-mode: darken;
}